* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: arial, sans-serif; }

body {
  background-color: #9a8963; }

.alignleft, img.size-blog-list {
  float: left;
  margin: 20px;
  max-width: 100%;
  height: auto; }

.alignright {
  float: right;
  margin: 20px;
  max-width: 100%;
  height: auto; }

header {
  width: 100%;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px; }

div#header-top {
  width: 80%;
  max-width: 980px;
  margin: 0 auto 10px;
  padding-top: 20px; }
  div#header-top img {
    float: left;
    max-width: 250px;
    height: auto; }
  div#header-top div#search-3 {
    float: right; }
  div#header-top label.screen-reader-text {
    display: none; }

nav {
  width: 100%;
  height: 60px;
  background-color: #6a5823; }
  nav ul {
    width: 100%;
    max-width: 980px;
    list-style-type: none;
    display: flex;
    margin: auto; }
    nav ul li {
      text-align: center;
      width: 100%;
      text-transform: uppercase; }
      nav ul li a {
        text-decoration: none;
        color: #f4e45a;
        line-height: 60px;
        font-family: "autumn_ratsregular", sans-serif;
        font-size: 1.5em; }
        nav ul li a:visited {
          color: #f4e45a; }

main {
  max-width: 980px;
  padding: 20px;
  margin: 0 auto 30px;
  background-color: #ffffff; }

div#spotlight {
  position: relative; }
  div#spotlight img.wp-post-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto 30px; }
  div#spotlight p#banner {
    position: absolute;
    font-family: "autumn_ratsregular", sans-serif;
    z-index: 10;
    top: 10%;
    left: -10px;
    font-size: 2em;
    border: 2px solid #ffffff;
    background-color: #6a5823;
    color: #ffffff;
    padding: 1% 2%;
    line-height: 1.1; }

.metaslider {
  float: right;
  margin: 20px 0;
  max-width: 100%;
  height: auto; }

article.event {
  border-bottom: 2px solid black;
  overflow: hidden;
  padding-bottom: 30px; }
  article.event:first-of-type h2 {
    margin-top: 0; }
  article.event:last-of-type {
    border-bottom: 0px; }
  article.event a {
    color: #568183;
    text-decoration: none; }
    article.event a:visited {
      color: #568183; }

h1.post-title {
  margin-top: 30px;
  margin-bottom: 10px; }

h2.post-title {
  margin-bottom: 0;
  margin-top: 30px; }
  h2.post-title a {
    text-decoration: none;
    color: black; }
    h2.post-title a:visited {
      color: black; }

h3.post-meta {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.5em; }
  h3.post-meta a {
    text-decoration: none; }

img.size-blog-list {
  margin-top: 0;
  margin-left: 0; }

form.wpcf7-form label {
  font-family: "autumn_ratsregular", sans-serif; }

ol {
  margin-left: 5%;
  margin-bottom: 20px; }

footer {
  width: 100%;
  height: 120px;
  clear: both;
  background-color: #6a5823;
  margin-top: 20px; }
  footer nav {
    height: 100px;
    background-color: #6a5823; }
    footer nav li {
      line-height: 100px; }

div#copyright {
  max-width: 940px;
  margin: auto;
  text-align: right;
  color: #ffffff; }

@font-face {
  font-family: "autumn_ratsregular";
  src: url("fonts/camp-webfont.woff2") format("woff2"), url("fonts/camp-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
p {
  margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  line-height: 1.2;
  color: #568183;
  font-family: "autumn_ratsregular", sans-serif;
  text-transform: uppercase; }

h1 {
  margin-top: 0;
  font-size: 3.157em; }

h2 {
  font-size: 2.369em; }

h2 a {
  font-family: "autumn_ratsregular", sans-serif; }

h3 {
  font-size: 1.777em; }

h4 {
  font-size: 1.333em; }

small, .font_small {
  font-size: 0.75em; }

/*# sourceMappingURL=style.css.map */
