//colors
$darkBrown: #568183
$lightBrown: #9a8963
$darkBrown: #6a5823
$white: #ffffff
$yellow: #f4e45a

//Responsive Mixin
@mixin forSmallScreens($media) 
	@media (max-width: $media/16+em)
		@content

* 
	margin: 0
	padding: 0
	box-sizing: border-box
	line-height: 1.5
	font-family: arial, sans-serif

body
	background-color: $lightBrown

//Floated Elements
.alignleft
	float: left
	margin: 20px
	max-width: 100%
	height: auto
	@include forSmallScreens(350)
		float: none
		display: block
		width: 100%
		margin: auto

.alignright
	float: right
	margin: 20px
	max-width: 100%
	height: auto
	@include forSmallScreens(350)
		float: none 
		display: block
		width: 100%
		margin: auto

.aligncenter
	display: block
	margin: auto

//Header Styles
header
	width: 100%
	height: 275px
	display: flex
	flex-direction: column
	justify-content: space-between
	margin-bottom: 10px
	position: relative
	@include forSmallScreens(1000)
		height: 230px 
	@include forSmallScreens(570)
		height: auto
	@include forSmallScreens(350)
		height: 100vh
		display: block

div#header-top
	width: 80%
	max-width: 980px
	margin: 0 auto 10px
	padding-top: 20px
	@include forSmallScreens(1000)
		width: 95%
		height: 100px
	@include forSmallScreens(570)
		width: 100%
		display: flex
		justify-content: space-between
		align-items: center
		padding: 3%
	img
		float: left
		max-width: 340px
		height: auto
		@include forSmallScreens(1000)
			max-width: 250px
		@include forSmallScreens(570)
			width: 70%
			float: none
	div#search-3
		float: right
	form
		@include forSmallScreens(570)
			display: none
	label.screen-reader-text
		display: none
	div#menu-icons
		display: none
		font-size: 3em
		@include forSmallScreens(570)
			display: block
		span#close
			display: none
nav
	width: 100%
	height: 60px
	background-color: $darkBrown
	@include forSmallScreens(570)
		height: auto
	ul
		width: 100%
		max-width: 1050px
		list-style-type: none
		display: flex
		margin: auto
		@include forSmallScreens(570)
			display: block
		li 
			text-align: center
			width: 100%
			text-transform: uppercase
			&:not(:last-of-type)
				@include forSmallScreens(570)
					border-bottom: 4px solid $lightBrown
					width: 95%
					margin: auto
			a 
				text-decoration: none
				color: $yellow
				line-height: 60px
				font-family: 'autumn_ratsregular', sans-serif
				font-size: 2.2em
				&:visited
					color: $yellow
				&:active, &:hover
					color: $white
				@include forSmallScreens(1000)
					font-size: 1.5em
				@include forSmallScreens(570)
					font-size: 2em
nav#main-nav
	@include forSmallScreens(570)
		display: none 		
		position: absolute
		top: 100px
		left: 0
		z-index: 100
div#menu-icons
	display: none 
	cursor: pointer
	@include forSmallScreens(570)
		display: block

//Content Styles
main 
	max-width: 980px
	padding: 20px
	margin: 0 auto 30px
	background-color: $white
	@include forSmallScreens(350)
		margin-bottom: 0
		padding: 20px 0

div#spotlight
	position: relative
	img.wp-post-image
		display: block
		max-width: 100%
		height: auto
		margin: 0 auto 30px
	div.banner 
		position: absolute
		z-index: 10
		top: 30px
		left: -10px
		border: 2px solid $white
		background-color: $darkBrown
		padding: 1% 2%
		@include forSmallScreens(540)
			width: 45%
			min-width: 230px
		a 
			line-height: 1.1
			font-size: 2em
			font-family: 'autumn_ratsregular', sans-serif
			color: $white
			text-decoration: none
			@include forSmallScreens(540)
				font-size: 1.4em
				line-height: 0
			&:visited
				color: $white
			&:hover
				color: $yellow

.metaslider
	float: right
	margin: 20px 0
	margin-left: 20px 
	max-width: 540px
	height: auto
	@include forSmallScreens(850)
		max-width: 50%
	@include forSmallScreens(600)
		margin: 20px auto
		float: none
		display: block
		max-width: 100%

//Post Styles
article.event
	border-bottom: 2px solid $lightBrown
	overflow: hidden
	padding-bottom: 30px
	&:first-of-type h2
		margin-top: 0
	&:last-of-type
		border-bottom: 0px
	a 
		color: $darkBrown
		text-decoration: none
		&:visited
			color: $darkBrown

h1.post-title
	margin-top: 30px
	margin-bottom: 10px

h2.post-title
	margin-bottom: 0
	margin-top: 30px
	font-size: 2.169em
	line-height: 1
	a 
		text-decoration: none
		color: $darkBrown
		&:visited 
			color: $darkBrown

h3.post-meta
	font-family: arial, sans-serif
	margin-top: 0
	margin-bottom: 30px
	color: #000
	font-size: 1.5em
	font-weight: 200
	a 
		text-decoration: none

img.size-blog-list
	@extend .alignleft
	margin-top: 0
	margin-left: 0
	@include forSmallScreens(700)
		width: 100%
		float: none
		margin: auto

//Contact Form
form.wpcf7-form
	label
		font-family: 'autumn_ratsregular', sans-serif
	input 
		padding: 5px 7px
		border: 3px solid $lightBrown
		border-radius: 7px 
	textarea
		padding: 5px 0 5px 7px 
		border: 4px solid $lightBrown
		border-radius: 7px
	.wpcf7-submit
		background: $lightBrown
		cursor: pointer
		padding-left: 15px 
		padding-right: 15px 
		color: $white 
		border-radius: 7px 

ol 
	margin-left: 5%
	margin-bottom: 20px

//Footer Styles
footer
	min-height: 80px
	width: 100%
	clear: both
	background-color: $darkBrown
	padding-top: 20px
	@include forSmallScreens(350)
		height: auto
		padding-top: 0
	nav
		background-color: $darkBrown
		margin-bottom: 20px

div#copyright
	max-width: 940px
	margin: auto
	padding-right: 20px
	text-align: right
	color: $white
	@include forSmallScreens(570)
		text-align: center
		padding-right: 0



//General Typography
@font-face
	font-family: 'autumn_ratsregular'
	src: url('fonts/camp-webfont.woff2') format('woff2'), url('fonts/camp-webfont.woff') format('woff')
	font-weight: normal
	font-style: normal

p 
	margin-bottom: 1.3em

h1, h2, h3, h4 
	margin: 0.75em 0 0.5em
	line-height: 1.2
	color: $darkBrown
	font-family: 'autumn_ratsregular', sans-serif

h1 
	margin: 0
	font-size: 5.157em
	line-height: 1
	@include forSmallScreens(900)
		font-size: 4.157em

h2 
	font-size: 2.869em
	@include forSmallScreens(900)
		font-size: 2.369

h2 a
	font-family: 'autumn_ratsregular', sans-serif

h3 
	font-size: 1.777em

h4 
	font-size: 1.333em

small, .font_small 
	font-size: 0.75em

p, h1, h2, h3, h4, small
	@include forSmallScreens(350)
		margin: 20px